.container-fluid {
  background-color: #F6F5F1 !important;
  height: 100vh;
}

.row-center {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.title {
  text-align: center;
  font-weight: bolder;
  color: #A88D6F;
  margin-bottom: 10%;
}

.text {
  font-weight: bolder;
  color: #A88D6F;
}

.validation {
  font-weight: bolder;
  color: orangered;
  text-align: center;
}

.input-form {
  color: #212020 !important;
  font-weight: bolder;
}

.input-text {
  border-width: 0;
  text-align: center;
  border-bottom: 3px;
  border-style: solid;
  border-color: #A88D6F;
  background-color: transparent;
}

.btn-gold {
  border-color: #A88D6F;
  background-color: #A88D6F;
  color: #F6F5F1;
  font-weight: bold;
  border-width: 3px;
  transition: .2s;
}

.btn-gold:hover {
  background-color: #F6F5F1;
  color: #A88D6F;
}

.form-img {
  height: 60vmin;
}

.col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}